<nav class="navbar navbar-dark bg-dark text-light px-0 py-1">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="assets/bootstrap-solid.svg" width="30" height="30" alt="">
      <span class="align-middle" style="font-size:15px">&nbsp;Logo</span>
    </a>
    <div ngbDropdown placement="bottom-right" class="nav-item d-inline-block">
      <a ngbDropdownToggle id="imageDropdown" style="cursor: pointer;">
        <img src="assets/img/denis.png" width="20" height="20">
      </a>
      <div ngbDropdownMenu aria-labelledby="imageDropdown" class="dropdown-menu dropdown-menu-left">
          <a [routerLink]="['login']">
            <li ngbDropdownItem class="dropdown-item">
              Login
            </li>
          </a>
      </div>
    </div>
  </div>
</nav>
