.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/css/*
public/img/chevron*
public/img/heart*
public/img/ico-font*
public/img/main_logo*
public/js/app*
public/js/chunk-vendors*
public/precache-manifest*
public/service-worker.js
