<form style="width:600px; max-width:100%; margin:40px auto;">
    <div class="w-100 text-center">
      <h1>Login</h1>
      <p>Hello! Log in with your email.</p>
      <p>&nbsp;</p>
    </div>
    <div class="form-group">
    	<label>Email adress</label>
        <input class="form-control" placeholder="Email adress" type="email">
    </div>
    <div class="form-group">
    	<a class="float-right" href="#">Forgot Password?</a>
    	<label>Password</label>
        <input class="form-control" placeholder="******" type="password">
    </div>
    <div class="form-group">
    <div class="checkbox">
      <label> <input type="checkbox"> Remember me </label>
    </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> LOG IN </button>
    </div>
</form>
