<app-breadcrumb></app-breadcrumb>

<table class="table mt-20 table-hover">
    <thead>
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">TestRun Count</th>
        <th scope="col">Recent TestRun</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jpsp of jsonParsed?.projects">
        <td><a [routerLink]="'/'+jpsp.uri" >{{jpsp.name}}</a></td>
        <td>{{jpsp.Status.testRunsCount}}</td>
        <td>{{jpsp.Status.recentTestRun}}</td>
      </tr>
    </tbody>
</table>
