<app-breadcrumb></app-breadcrumb>
<table class="table mt-20 table-hover table-sm" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let jpsp of jsonParsed?.testCases" [ngClass]="{'table-danger' : jpsp.status=='failed'}"  >
        <td><small>{{jpsp.name}}</small></td>
        <td><small>{{jpsp.status}}</small></td>
        <td><small>{{jpsp.time |number:'1.0-2'}}</small></td>
      </tr>
    </tbody>
</table>